<!doctype html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../css/session-eg.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<title>OTOOBUG Bootstrap Template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="main">
    <div class="box">
        <div class="chat-list">
            <div class="list-box">
                <div class="chat-rig">
                    <p class="title">User1</p>
                </div>
            </div>
            <div class="list-box select">
                <div class="chat-rig"><p class="title">YOU</p></div>
            </div>
            <div class="list-box"><img class="chat-head" src="../static/img/img-header2.jpg" alt="">
                <div class="chat-rig"><p class="title">User2</p></div>
            </div>
            <div class="list-box">
                <div class="chat-rig">
                    <p class="title">User3</p>
                </div>
            </div>
            <div class="list-box">
                <div class="chat-rig"><p class="title">User4</p></div>
            </div>
            <div class="list-box">
                <div class="chat-rig"><p class="title">User5</p></div>
            </div>
            <div class="list-box">
                <div class="chat-rig">
                    <p class="title">User6</p>
                </div>
            </div>
            <div class="list-box">
                <div class="chat-rig"><p class="title">User7</p></div>
            </div>
            <div class="list-box">
                <div class="chat-rig"><p class="title">User8</p></div>
            </div>
        </div>
        <div class="box-right">
            <div class="recvfrom">
                <div class="nav-top">
                    <h1 style="color:#F8F8FF; font-size:20px">多人聊天</h1>
                </div>
                <div class="news-top">
                    <ul>
                        <li class="other">
                            
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">XXX</p>
                                <p class="msg-text">ASD</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">YOU</p>
                                <p class="msg-text">ADF</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">Name</p>
                                <p class="msg-text">sdf </p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="self">
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">YOU</p>
                                <p class="msg-text">asdf </p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">Name</p>
                                <p class="msg-text">asdf</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">Name</p>
                                <p class="msg-text">asdf</p>
                                <time>20:18</time>
                            </div>
                        </li>
                        <li class="other">
                            <div class="msg">
                                <p class="msg-name"; style="color:#F8F8FF">Name</p>
                                <p class="msg-text">fgh</p>
                                <time>20:18</time>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sendto">
                <div class="but-nav">
                    <ul>
                        <li class="font"></li>
                        <li class="face"></li>
                        <li class="cut"></li>
                        <li class="page"></li>
                        <li class="old"></li>
                    </ul>
                </div>
                <div class="but-text">
                    <textarea name="" id="" cols="110" rows="6"></textarea>
                    <a href="#" class="button">发送</a>
                </div>
            </div>
        </div>
 
    </div>
 
 
</div>
 
<!-- javascript js -->	
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/nivo-lightbox.min.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>