<!doctype html>

<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/slick.css">
	<title>OTOOBUG Bootstrap Template</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/nivo-lightbox.css">
	<link rel="stylesheet" href="../css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="../css/templatemo-style.css">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!--吸顶效果样式 start-->
<style>
	.fix{
		position:fixed;
		left:200;
		top:0;
		width:63.9%;
	}

	.nav2{
		margin-top: 60px;
	}
</style>
<!--吸顶效果样式 end-->
</head>
<body>

<!-- navigation -->

	<div class="container">
		<div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><img src="../../../../../templates/images/logo.png" class="img-responsive" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="../../../../../templates/index.html" class="active">主页</a></li>
				<li><a href="portfolio.html">聊天室</a></li>
				<li><a href="#">用户信息</a></li>
				<li><a href="../../../../../templates/login.html">登录</a></li>
			</ul>
		</div>
	</div>
</div>		


	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="../images/top-banner-author.jpg" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">你好！这里是</span>
					<h2 class="top-banner__h2">A</h2>
				</div>
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">社团</h2>
					<span class="brand-span">社长 XXX</span>
				</div>
				<p>我们社团热衷于XXX，感兴趣的小伙伴可以加入我们，一起努力</p>
				<a href="#" class="#">了解更多 > </a>
			</div>
		</div>
	</section>
	<!-- Top banner end -->

	<!-- About me -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="../images/about-me.jpg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>J</span>
						<h2 class="universal-h2">hone Smith</h2>
					</div>
					<p>Jhone Smith is a short story author, novelist, and award-winning poet.</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">关于B社团</h2>
						<p><span>此</span>此处关于社团介绍省略1000字...</p>
						<h4>XX社长</h4>
						<p class="p-white">XXX</p>
					</div>
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">关于C社团</h2>
						<p><span>此</span> 处关于社团介绍省略1000字...</p>
						<h4>XX社长</h4>
						<p class="p-white">XXX</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-me-bckg"></div>
	</section>
	<!-- About me end -->

	<!-- Blog -->
	<section class="fh5co-blog">
		<div class="site-container">
			<h2 class="universal-h2 universal-h2-bckg">关于XXX的社团</h2>
			<div class="blog-slider blog-inner">
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="../images/blog1.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>D社团</h4>
						<span>XX社长XX</span>
						<p>关于社团介绍省略1000字...</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="../images/blog2.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>E社团</h4>
						<span>XX社长XX</span>
						<p>关于社团介绍省略1000字...</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="../images/blog2.jpg" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>F社团</h4>
						<span>XX社长XX</span>
						<p>关于社团介绍省略1000字...</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog end -->

	<!-- Quotes -->
	<section class="fh5co-quotes">
		<div class="site-container">
			<div class="about-me-slider">
				<div>
					<h2 class="universal-h2 universal-h2-bckg">G社团</h2>
					<p>此处省略1w字...</p>
					<img src="../images/quotes.svg" alt="quotes svg">
					<h4>XX社长</h4>
					<p>XX</p>
				</div>
				<div>
					<h2 class="universal-h2 universal-h2-bckg">H社团</h2>
					<p>此处省略1w字...</p>
					<img src="../images/quotes.svg" alt="quotes svg">
					<h4>XX社长</h4>
					<p>XX</p>
				</div>
				<div>
					<a href="#"  class="universal-h2 universal-h2-bckg">更多其他社团</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Quotes end -->

	<!-- Scripts -->
	<script src="..//js/jquery.min.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/main.js"></script>


</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	$(function(){
		var navBar = $("#nav");
		var navBar2 = $("#nav2");
		var titleTop = navBar.offset().top;

		$(window).scroll(function(){
			var btop = $(window).scrollTop();
			if (btop > titleTop) {
				navBar.addClass('fix');
				navBar2.addClass('nav2');
			} else {
				navBar.removeClass('fix');
				navBar2.removeClass('nav2');
			}
		})
	})
</script>
</html>